<div class="modal">
    <div class="modal-header">
        <div class="">Add new asset</div>
    </div>
    <div class="modal-body">
        <form action="" [formGroup]="assetsForm">
            <div class="form-row">
                <div class="form-row__label">Name</div>
                <input type="text" class="form-row__input" formControlName="name" />
            </div>

            <div class="form-row">
                <div class="form-row__label">Latitude</div>
                <input type="number" class="form-row__input" formControlName="latitude" />
            </div>

            <div class="form-row">
                <div class="form-row__label">Longitude</div>
                <input type="number" class="form-row__input" formControlName="longitude" />
            </div>
        </form>
        <div class="modal-body-buttons">
            <button class="add" [mat-dialog-close]="getFormValue()" [disabled]="!assetsForm.valid" [ngClass]="{'inValid':!assetsForm.valid}">Add</button>
            <button class="cancel" (click)="No()" >Cancel</button>
        </div>
    </div>
</div>