<header>
  <div class="content">
      <div class="header-body">
          <div class="dots">
              <span class="dots__dot"></span>
              <span class="dots__dot"></span>
              <span class="dots__dot"></span>
          </div>
          <div class="title">{{title}}</div>
      </div>
  </div>
</header>
<body>
  <div class="content">
    <div class="body-grid">
      <div class="it title">Assets Map</div>
      <div class="it">
        <div class="search">Haha</div>
      </div>
      <div class="it">3333333</div>
      <div class="it">444444</div>

    </div>
  </div>
</body>