header {
    background: #424242;
    .header-body {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 5px 5px 8px 5px;
        .dots {
            display: flex;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 10px;
            &__dot {
                background-color: #636363;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
        .title {
            text-align: center;
            color: #CDCDCD;
            width: 100px;
            font-size: small;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto 550px;
    grid-template-areas: "title search" "map list";
    @media (max-width: 800px) {
        grid-template-columns: auto;
        grid-template-rows: auto 510px auto auto;
        grid-template-areas: "title" "map" "search" "list";
    }
    .title {
        grid-area: title;
        font-size: 20px;
    }
    .search {
        grid-area: search;
        height: 20px;
        input {
            padding: 6px 0px 6px 8px;
            border: solid #c2bfbf 1px;
            border-radius: 6px;
        }
    }
    .map {
        grid-area: map;
    }
    .list {
        grid-area: list;
    }
    .grid__item {
        padding: 10px;
        .item__header {
            height: 20px;
            background-color: #EEEEEE;
            font-size: 12px;
            padding: 11px 0px 0 10px;
            border-radius: 5px 5px;
        }
        .borderBlock {
            border: solid black 1px;
            border-radius: 9px;
            overflow: hidden;
            height: 100%;
        }
    }
}