<div class="list">

    <div class="plainList" *ngIf="!filteredList.length && !noItemsFound">
        <div *ngFor="let item of list async" class="list__item">
            <div class="item__title" (click)="itemSelected(item)">{{item.name}}</div>
            <div (click)="openDialog(item)" class="item__deleteButton">
            </div>
        </div>
    </div>


    <div class="filteredList" *ngIf="filteredList && filteredList.length">
        <div *ngFor="let item of filteredList async" (click)="itemSelected(item)" class="list__item">
            <div class="item__title">{{item.name}}</div>
            <div (click)="openDialog(item)" class="item__deleteButton">
            </div>
        </div>
    </div>

    <div class="list__item" *ngIf="noItemsFound">
        <div class="item__title">No assets was found</div>
    </div>
</div>